.img-container {
  display: flex;
  justify-content: center;
}

.front-image {
  border: 1px solid;
}
a {
  text-decoration: None;
  color: #000000;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #554b4b;
}
h1, h3 {
  font-family: sans-serif;
  text-align: center;
}
.links {
  display: block;
  justify-content: center;
}
ul {
  margin-block-start: 2em;
  margin-inline-start: 250px;
  font-size: 24px;
}
img {
  width: 400px;
  border: 1px solid;
}
p {
  margin: 20px;
  font-siz: 24px;
}
.ingredients {
  margin-block-start: 2em;
  margin-inline-start: 20px;
  font-size: 18px;
}